In [1]:
def print_star_pattern(n):
    for i in range(1, n + 1):
        print('*' * i)
    for i in range(n - 1, 0, -1):
        print('*' * i)
n = 5
print_star_pattern(n)

*
**
***
****
*****
****
***
**
*

In [6]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in range(len(my_list)):
    if i % 2 != 0:
        print(my_list[i])

20
40
60
80
100

In [7]:
x = [23, 'Python', 23.98]
types_list = []
for element in x:
    types_list.append(type(element))
print(x)
print(types_list)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [8]:
def get_unique_items(input_list):
    unique_list = list(set(input_list))
    return unique_list
sample_list = [1, 2, 3, 3, 3, 3, 4, 5]
unique_list = get_unique_items(sample_list)
print("Unique List:", unique_list)

Unique List: [1, 2, 3, 4, 5]

In [9]:
def count_upper_lower(s):
    upper_count = 0
    lower_count = 0

    for char in s:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
    return upper_count, lower_count

input_string = 'The quick Brow Fox'

upper_count, lower_count = count_upper_lower(input_string)

print("No. of Upper-case characters:", upper_count)
print("No. of Lower-case Characters:", lower_count)

No. of Upper-case characters: 3
No. of Lower-case Characters: 12